@{
    ViewBag.Title = "Home Page";
}

<section class="hero-area bg-primary" id="parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <h1 class="text-white font-tertiary">Hi! I’m <br> Back-end <br> Developer</h1>
            </div>
        </div>
    </div>
    <div class="layer-bg w-100">
        <img class="img-fluid w-100" src="~/Content/images/illustrations/leaf-bg.png" alt="bg-shape">
    </div>
    <div class="layer" id="l2" style="left: -270.107px; top: 181.324px;">
        <img src="~/Content/images/illustrations/dots-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l3" style="left: 762.75px; top: 194.061px;">
        <img src="~/Content/images/illustrations/leaf-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l4" style="left: 1026.03px; top: 188.223px;">
        <img src="~/Content/images/illustrations/dots-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l5" style="left: 1733.95px; top: 90.9652px;">
        <img src="~/Content/images/illustrations/leaf-yellow.png" alt="bg-shape">
    </div>
    <div class="layer" id="l6" style="left: 172.188px; top: 890.18px;">
        <img src="~/Content/images/illustrations/leaf-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l7" style="left: 372.186px; top: 803.13px;">
        <img src="~/Content/images/illustrations/dots-group-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l8" style="left: 968.555px; top: 725.881px;">
        <img src="~/Content/images/illustrations/leaf-pink-round.png" alt="bg-shape">
    </div>
    <div class="layer" id="l9" style="left: 1788.84px; top: 738.738px;">
        <img src="~/Content/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
    </div>
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
        <li class="mb-3"><a class="text-white" href="https://www.facebook.com/tranxuanphi7895"><i class="ti-facebook"></i></a></li>
        <li class="mb-3"><a class="text-white" href="https://www.instagram.com/xuanphi7895/?hl=en"><i class="ti-instagram"></i></a></li>
        <li class="mb-3"><a class="text-white" href="#"><i class="ti-dribbble"></i></a></li>
        <li class="mb-3"><a class="text-white" href="https://twitter.com/TranXuanPhi1"><i class="ti-twitter"></i></a></li>
    </ul>
    <!-- /social icon -->
</section>
<!-- /hero area -->
<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <p class="font-secondary paragraph-lg text-dark">
                    Constantly learning to cultivate knowledge about programming to develop professional skills.
                    In the next 2 year, I will become a professional Full Stack Web Developer.
                </p>
                <a href="about.html" class="btn btn-transparent">know more</a>
            </div>
        </div>
    </div>
</section>
<!-- /about -->
<!-- skills -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Skills</h2>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#fdb157" style="background-color: rgb(253, 177, 87);">
                        <div class="wave" data-progress="90%" style="bottom: 90%;"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">SQL Server 2016 (90%)</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#9473e6" style="background-color: rgb(148, 115, 230);">
                        <div class="wave" data-progress="60%" style="bottom: 60%;"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">C#, Javascript (60%)</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#bdecf6" style="background-color: rgb(189, 236, 246);">
                        <div class="wave" data-progress="80%" style="bottom: 80%;"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">HTML, CSS, Bootstrap, JQuery, Kendo (80%)</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <div class="card shadow text-center">
                    <div class="position-relative rounded-top progress-wrapper" data-color="#ffbcaa" style="background-color: rgb(255, 188, 170);">
                        <div class="wave" data-progress="70%" style="bottom: 70%;"></div>
                    </div>
                    <div class="card-footer bg-white">
                        <h4 class="card-title">Version control system: Git (70%)</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /skills -->
<!-- experience -->
<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Experience</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="~/Content/images/experience/icon-3.png" alt="icon">
                <p class="mb-0">January 2017 - May 2017</p>
                <h4>Intership</h4>
                <h6 class="text-light">HueTechCo-op</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="~/Content/images/experience/icon-2.png" alt="icon">
                <p class="mb-0">May 2017 - August 2017</p>
                <h4>Fresher Back-end Developer</h4>
                <h6 class="text-light">HueTechCo-op</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
                <img src="~/Content/images/experience/icon-1.png" alt="icon">
                <p class="mb-0">August 2017 - Feb 2019</p>
                <h4>Junior Back-end Developer</h4>
                <h6 class="text-light">HueTechCo-op</h6>
            </div>


        </div>
    </div>
</section>
<!-- ./experience -->
<!-- education -->
<section class="section position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Education</h2>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2013</p>
                        <h4>Information Technology Certificate</h4>
                        <p class="mb-0 text-light">Hue University of Education</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2010</p>
                        <h4>High Certificate</h4>
                        <p class="mb-0 text-light">Phan Dang Luu High School</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2006</p>
                        <h4>Secondary School Certificate</h4>
                        <p class="mb-0 text-light">Phu An Junior high School</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
                <div class="d-flex">
                    <div class="mr-lg-5 mr-3">
                        <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                    </div>
                    <div>
                        <p class="text-dark mb-1">2000</p>
                        <h4>Primary School Certificate</h4>
                        <p class="mb-0 text-light">Phu An Primary School</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bg image -->
    <img class="img-fluid edu-bg-image w-100" src="~/Content/images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /education -->
<!-- portfolio -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Portfolio</h2>
            </div>
        </div>
        <div class="row shuffle-wrapper shuffle" style="position: relative; overflow: hidden; height: 485.734px; transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;">
            <div class="col-lg-4 col-6 mb-4 shuffle-item shuffle-item--visible" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="position-relative rounded hover-wrapper">
                    <img src="~/Content/images/portfolio/hamlong.PNG" alt="portfolio-image" class="img-fluid rounded w-100">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <a class="btn btn-light btn-sm" href="http://hamlong.org.vn" target="_blank">view project - trung tâm công tác xã hội Hàm Long</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item shuffle-item--visible" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(320px, 0px) scale(1); transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="position-relative rounded hover-wrapper">
                    <img src="~/Content/images/portfolio/atp.PNG" alt="portfolio-image" class="img-fluid rounded w-100">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <a class="btn btn-light btn-sm" href="http://atp.edu.vn/" target="_blank">view project - công ty du học ATP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item shuffle-item--visible" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(640px, 0px) scale(1); transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="position-relative rounded hover-wrapper">
                    <img src="~/Content/images/portfolio/htxbcd.PNG" alt="portfolio-image" class="img-fluid rounded w-100">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <a class="btn btn-light btn-sm" href="http://htxbuoichidam.com" target="_blank">view project - HTX bưởi chí đám</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item shuffle-item--visible" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(320px, 243px) scale(1); transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="position-relative rounded hover-wrapper">
                    <img src="~/Content/images/portfolio/vca.png" alt="portfolio-image" class="img-fluid rounded w-100">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <a class="btn btn-light btn-sm" href="vca.org.vn" target="_blank">view project - liên minh HTX thừa thiên huế</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6 mb-4 shuffle-item shuffle-item--visible" style="position: absolute; top: 0px; left: 0px; visibility: visible; will-change: transform; opacity: 1; transform: translate(640px, 243px) scale(1); transition-duration: 250ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: transform, opacity;">
                <div class="position-relative rounded hover-wrapper">
                    <img src="~/Content/images/portfolio/Dashboard.PNG" alt="portfolio-image" class="img-fluid rounded w-100">
                    <div class="hover-overlay">
                        <div class="hover-content">
                            <a class="btn btn-light btn-sm" href="https://codepen.io/xuanphi/pen/xejpRX" target="_blank">view project personal - Dashboard </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /portfolio -->
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white mb-5">Testimonials</h2>
            </div>
            <div class="col-lg-10 mx-auto testimonial-slider slick-initialized slick-slider slick-dotted">
                <!-- slider-item -->
                <div class="slick-list draggable" style="height: 379.2px;">
                    <div class="slick-track" style="opacity: 1; width: 5390px; transform: translate3d(-770px, 0px, 0px);">
                        <div class="text-center testimonial-content slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 770px;" tabindex="-1">
                            <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                            <p class="text-white mb-4">
                                Proficiency in C#, with a good knowledge of the .NET ecosystem;
                                Strong understanding of object-oriented programming;
                                Knowledge in Microsoft SQL Server and MySQL Server;
                                Experience enforcing secure coding best practices;
                                Experience with Web Technologies such as JavaScript;
                                Experience developing or consuming RESTful APIs.
                            </p>
                            <img class="img-fluid rounded-circle mb-4 d-inline-block" src="~/Content/images/testimonial/DCV_v.png" alt="client-image">
                            <h4 class="text-white">Dang Van Chinh</h4>
                            <h6 class="text-light mb-4">CEO HueTechCo-op</h6>
                        </div><div class="text-center testimonial-content slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 770px;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00">
                            <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                            <p class="text-white mb-4">
                                Every man has his secret sorrows which the world knows not; and often times we call a man cold when he is only sad<strong>
                                    “Life is like riding a bicycle. To keep your balance, you must keep moving.”
                                </strong> Life is a succession of lessons which must be lived to be understood.
                            </p>
                            <img class="img-fluid rounded-circle mb-4 d-inline-block" src="~/Content/images/testimonial/DCV_v.png" alt="client-image">
                            <h4 class="text-white">Dang Van Chinh</h4>
                            <h6 class="text-light mb-4">CEO HueTechCo-op</h6>
                        </div><div class="text-center testimonial-content slick-slide" data-slick-index="1" aria-hidden="true" style="width: 770px;" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
                            <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
                            <p class="text-white mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <strong>
                                    quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat.
                                </strong> Duis aute irure dolor in reprehenderit in
                                voluptate velit
                                esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <img class="img-fluid rounded-circle mb-4 d-inline-block" src="~/Content/images/testimonial/DCV_v.png" alt="client-image">
                            <h4 class="text-white">Dang Van Chinh</h4>
                            <h6 class="text-light mb-4">CEO HueTechCo-op</h6>
                        </div>

                    </div>
                </div>
                <!-- slider-item -->
                <!-- slider-item -->
                <ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">3</button></li></ul>
            </div>
        </div>
    </div>
    <!-- bg shapes -->
    @*<img src="~/Content/images/backgrounds/map.png" alt="map" class="img-fluid bg-map">
        <img src="~/Content/images/illustrations/dots-group-v.png" alt="bg-shape" class="img-fluid bg-shape-1">
        <img src="~/Content/images/illustrations/leaf-orange.png" alt="bg-shape" class="img-fluid bg-shape-2">
        <img src="~/Content/images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3">
        <img src="~/Content/images/illustrations/leaf-pink-round.png" alt="bg-shape" class="img-fluid bg-shape-4">
        <img src="~/Content/images/illustrations/leaf-cyan.png" alt="bg-shape" class="img-fluid bg-shape-5">*@
</section>
<!-- /testimonial -->
<!-- client logo slider -->
@*<section class="section pb-0">
        <div class="container">
            <div class="client-logo-slider d-flex align-items-center slick-initialized slick-slider">
                <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4650px; transform: translate3d(-1860px, 0px, 0px);"><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="-5" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-1.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-2.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-3.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-4.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-5.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide" data-slick-index="0" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-1.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide" data-slick-index="1" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-2.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide" data-slick-index="2" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-3.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide" data-slick-index="3" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-4.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide" data-slick-index="4" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-5.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-current slick-active" data-slick-index="5" aria-hidden="false" style="width: 186px;" tabindex="0"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-1.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-active" data-slick-index="6" aria-hidden="false" style="width: 186px;" tabindex="0"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-2.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-active" data-slick-index="7" aria-hidden="false" style="width: 186px;" tabindex="0"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-3.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-active" data-slick-index="8" aria-hidden="false" style="width: 186px;" tabindex="0"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-4.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-active" data-slick-index="9" aria-hidden="false" style="width: 186px;" tabindex="0"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-5.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-1.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-2.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-3.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-4.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-5.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-1.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-2.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-3.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="18" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-4.png" alt="client-logo"></a><a href="#" class="text-center d-block outline-0 p-4 slick-slide slick-cloned" data-slick-index="19" aria-hidden="true" style="width: 186px;" tabindex="-1"><img class="d-unset img-fluid" src="~/Content/images/clients-logo/client-logo-5.png" alt="client-logo"></a></div></div>

            </div>
        </div>
    </section>*@
<!-- /client logo slider -->
<!-- blog -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Blogs</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <article class="card shadow">
                    <img class="rounded card-img-top" src="~/Content/images/blog/post-3.jpg" alt="post-thumb">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="text-dark" href="https://blogchiasekienthuc.com/" target="_blank">Blog Chia Sẻ Kiến Thức</a>
                        </h4>
                        <p class="cars-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore magna aliqua.
                        </p>
                        <a href="blog-single.html" class="btn btn-xs btn-primary">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <article class="card shadow">
                    <img class="rounded card-img-top" src="~/Content/images/blog/post-4.jpg" alt="post-thumb">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="text-dark" href="blog-single.html">Amazon increase income 1.5 Million</a>
                        </h4>
                        <p class="cars-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore magna aliqua.
                        </p>
                        <a href="blog-single.html" class="btn btn-xs btn-primary">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <article class="card shadow">
                    <img class="rounded card-img-top" src="~/Content/images/blog/post-2.jpg" alt="post-thumb">
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="text-dark" href="blog-single.html">Amazon increase income 1.5 Million</a>
                        </h4>
                        <p class="cars-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore magna aliqua.
                        </p>
                        <a href="blog-single.html" class="btn btn-xs btn-primary">Read More</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- /blog -->
<!-- contact -->
<section class="section section-on-footer" data-background="~/Content/images/backgrounds/bg-dots.png" style="background-image: url(&quot;~/Content/images/backgrounds/bg-dots.png&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Contact Info</h2>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="bg-white rounded text-center p-5 shadow-down">
                    <h4 class="mb-80">Contact Form</h4>
                    <form action="#" class="row">
                        <div class="col-md-6">
                            <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
                        </div>
                        <div class="col-md-6">
                            <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
                        </div>
                        <div class="col-12">
                            <textarea name="message" id="message" class="form-control px-0 mb-4" placeholder="Type Message Here"></textarea>
                        </div>
                        <div class="col-lg-6 col-10 mx-auto">
                            <button class="btn btn-primary w-100">send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /contact -->
<!-- footer -->
<footer class="bg-dark footer-section">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-light">Email</h5>
                    <p class="text-white paragraph-lg font-secondary">xuanphi7895@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Phone</h5>
                    <p class="text-white paragraph-lg font-secondary">+84379731767</p>
                </div>
                <div class="col-md-4">
                    <h5 class="text-light">Address</h5>
                    <p class="text-white paragraph-lg font-secondary">Phu An Commune, Phu Vang District, TT-Hue Province</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top text-center border-dark py-5">
        <p class="mb-0 text-light">
            Copyright ©
            <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
            </script> Design Trần Xuân Phi<a href="http://meetdev.com/profile-16341/cv" target="_blank"> Curriculum Vitae</a>
        </p>
    </div>
</footer>